
.report {
  min-height: 50px;
  border: solid
}

.report_admin {
  border: solid;
  border-width: thin;
  margin: 5px;
  padding: 10px;
}

.customer_list {
  display: block;
  min-width: 20%;
}

.customer_button {
  background-color: #839192;
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
}

.filler {
  min-height: 15px;
}

.method_container {
  padding-left: 7%;
  padding-right: 7%;
}

.method {
  font-weight: 400;
  border-bottom: solid;
  border-top: solid;
  border-width: thin;
  font-size: 20px;
  padding-top: 10px;
  margin-top: 10px;
}

.method_text {
  padding-top: 10px;
  padding-bottom: 15px;

}

.method_survey_date {
  padding-bottom: 15px;
}

.method_expanation_container {
  width: 100%;
}

.method_explanation_header {
  font-weight: 700;
  font-size: 20px;
}

.method_explanation {
  display: inline-block;
  width: 70%;
  padding-left: 5px;
}

.method_box { min-height: ;
  display: inline-block;
  width: 20%;
  border: solid;
  border-width: thin;
  margin: 2%
}

.ebbi_score_formulation_container {
  padding-left: 7%;
  padding-right: 7%;
}

.ebbi_score_formulation_cirlce {
  width: 40%;
  padding: 30px
}

.ebbi_score_formulation_bars {
  width: 60%;
  padding: 10px
}

.ebbi_score_formulation_header {
  font-weight: 400;
  border-bottom: solid;
  border-top: solid;
  border-width: thin;
  font-size: 20px;
  padding-top: 10px;
  margin-top: 10px;
}

.report_header {
  font-size: 20px;
  border: solid;
  border-width: thin;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.report_item {
}

.report_item_container {
  border: solid;
  border-width: thin;
  margin: 5px;
  padding: 10px;
}

.question_header {
  font-weight: 700;
  border-bottom: solid;
  border-width: thin;
  border-top: solid;
  border-width: thin;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.question_paragraph {
  margin: 7px 7px;
}

.question_details_header {
  font-weight: 700;
  border-bottom: solid;
  border-width: thin;
  border-top: solid;
  border-width: thin;
  text-align: center;
}

.report_score  {
  border: solid;
  border-width: thin;
  margin: 5px;
  padding: 10px;
}

.question_details {
  border: solid;
  border-width: thin;
  margin: 5px;
  padding: 10px;
}

.report_score_pie_container {
  height: 30px;
  min-height: 300px;
}

.detail_analysis_score {
  position: relative;
  background: #BDB76B;
  color: #fff;
  text-align: right;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  padding-right: 5px;
}

.detail_beckground_male {
  background: #cc4400;
}

.detail_beckground_female {
  background: #cc4400;
}

.detail_beckground_45 {
  background: #BDB76B;
}

.detail_beckground_46 {
  background: #BDB76B;
}

.detail_beckground_56 {
  background: #BDB76B;
}

.detail_beckground_66 {
  background: #BDB76B;
}

.detail_beckground_l400k {
  background: #566573;
}

.detail_beckground_g400k {
  background: #566573;
}

.detail_beckground_no_degree {
  background: #F5B041;
}

.detail_beckground_degree {
  background: #F5B041;
}

.detail_beckground_detractor {
  background: #E59866;
}

.detail_beckground_passive {
  background: #E59866;
}

.detail_beckground_promoter {
  background: #E59866;
}

.detail_beckground_no {
  background: #909497;
}

.detail_beckground_yes {
  background: #909497;
}

.report_details {
  padding-top: 2px;
  padding-bottom: 2px;
}

.report_no_data {
  font-weight: 700;
  text-align: center;
  margin: 15px 15px;
}

.report_detail_label {
  display: inline-block;
  width: 20%;
}

.report_detail_element {
  display: inline-block;
  width: 7%;
  text-align: right;
}

.report_detail_score {
  display: inline-block;
  width: 50%;
  text-align: left;
  padding-left: 5%;
}

.report_description_score {
  padding-top: 20px;
  padding-left: 10px;
  width: 80%;
  height: 69px;
}

.report_detail_line {
  margin: 1px;
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.report_score_filler {
  display: inline-block;
  width: 6%;
  height: 100%;
  margin-right: 5px;
}

.report_score_filler_very_well {
  background-color: #E67E22;
}

.report_score_filler_well{
  background-color: #F39C12;
}

.report_score_filler_moderate {
  background-color: #F8C471;
}

.report_score_filler_badly {
  background-color: #FAD7A0;
}

.report_score_filler_very_badly {
  background-color: #FDEBD0;
}

.report_score_filler_did_not_answer {
  background-color: #85929E;
}

.report_score_label {
  display: inline-block;
  font-size: 12px;
  width: 30%;
  height: 100%;
  vertical-align: top;
}

.score {
  height: 20px;
}

.report_score_value {
  display: inline-block;
  font-size: 12px;
  width: 20%;
  text-align: right;
  font-weight: 600;
  height: 100%;
  vertical-align: top;
}

.report_score_percentage {
  display: inline-block;
  font-size: 12px;
  width: 20%;
  text-align: right;
  font-weight: 600;
  height: 100%;
  vertical-align: top;
}

.report_score_details {
  display: inline-block;
  width: 40%;
  padding-right: 10px;
  vertical-align: top;
}

.detail_analysis_score {

}

.report_summary {
  display: inline-block;
  width: 100%;
}

.report_score_description {
  display: inline-block;
  width: 60%;
  padding-left: 3px;
  vertical-align: top;
  margin-top: 30px;
}

.report_question_text {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.report_description_label {
  display: inline-block;
  font-size: 12px;
  width: 15%;
vertical-align: middle;
}

.report_description_value {
  display: inline-block;
  font-size: 12px;
  width: 15%;
  text-align: right;
  vertical-align: middle;
}

.report_description_dot {
  display: inline-block;
  font-size: 12px;
  width: 15%;
  text-align: right;
  vertical-align: middle;
  padding-right: 10px;
}

.svg_dot {
  padding-top: 3px;
}

.svg_dot_median {
  padding-top: 3px;
  position: relative;
  bottom: 36px;
}
.svg_dot_mean {
  padding-top: 3px;
  position: relative;
  bottom: 36px;
}

.svg_dot_ebbi {
  padding-top: 3px;
  position: relative;
  bottom: 36px;
}

.padding {
  padding-bottom: 10px;
}

.report_description_text {
  display: inline-block;
  font-size: 12px;
  width: 15%;
}

.report_color_filler{
  background-color: coral;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 3px;
}

.report_item_devider {
  background-color: #F39C12;
  height: 30px;
  text-align: right;
  margin-top: 10px;
}

.report_item_image {
  background-color: #F39C12;
  height: 30px;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 7px;
}

.larsen_energy_image {
  width: 140px;
}

.report_promoter_item {
  border: solid;
  border-width: thin;
  margin: 5px;
  padding: 10px;
}

.report_promoter_header {
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.promotor_horizontal_bar {

}

.promoter_detail_label {
  display: inline-block;
  width: 12%;
}

.report_promoter_desciption {
  display: inline-block;
  width: 60%;
  padding: 10px;
  vertical-align: top;
}

.report_promoter_text {
  display: inline-block;
  width: 40%;
}

.report_promoter_question {
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

.promoter_scale {
  margin-top: 20px;
}

.promoter_scale_text_left {
  display: inline-block;
  font-size: 12px;
  width: 8%;
}

.promoter_scale_text_right {
   display: inline-block;
   font-size: 12px;
   width: 8%;
   padding-left: 5px;
 }

.promoter_scale_table {
  display: inline-block;
  width: 84%;
  border: solid;
  border-width: 1px;
  margin-top: 3px;
}

.promoter_score_table {
  width: 100%;
}

.promoter_table_cellr {
  text-align: center;
  color: red;
  padding-top: 1%;
  padding-bottom: 1%;
}

.promoter_table_celly {
  text-align: center;
  color: yellow;
  padding-top: 1%;
  padding-bottom: 1%;
}
.promoter_table_cellg {
  text-align: center;
  color: green;
  padding-top: 1%;
  padding-bottom: 1%;
}

.img.promoter_score_image {
  width: 100%;
  height: 100%;
}

.promoter_image_filler {
  display: inline-block;
  width: 8%;
}

.promoter_image_container {
  display: inline-block;
  width: 80%;
}

.report_promotor_text_paragraph {
  padding: 8px;
}

.promoter_detail_description {
  padding-top: 10px;
  padding-bottom: 10px;
}


.report_bottom {
  min-height: 50px;
}

.chart__bar {
  display: inline-block;
  height: 30px;
}

.protractors {
  background: #C0392B;
  text-align: center;
}

.passives {
  background: #DC7633;
  text-align: center;
}

.promoters {
  background: #138D75;
  text-align: center;
}

.promoter_horizontal_bar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.promoter_horizontal_bar_subtext {
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 5px;
  width: 100%;
}

.promoter_detractor_box {
  background: #C0392B;
  display: inline-block;
  width: 8px;
  height: 8px;
}

.promoter_passive_box {
  background: #DC7633;
  display: inline-block;
  width: 8px;
  height: 8px;
}

.promoter_promoter_box {
  background: #138D75;
  display: inline-block;
  width: 8px;
  height: 8px;
}

.promoter_inline_box {
  display: inline-block;
  padding-left: 5px;
  padding-right: 12px;
}

.promoter_horizontal_breakdown_bar {
  display: inline-block;
  width: 80%;
}

.promoter_detractor_subtext {
  text-align: center;
}

.promoter_breakdown_container {
  background: #E8E8E8;
}

.promoter_breakdown_text {
  display: inline-block;
  width: 20%;
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
}

.score0 {
  background: #330000;
  display: inline-block;
}
.promoter_bar0 {
  background: #330000;
}

.score1 {
  background: #660000;
  display: inline-block;
}

.promoter_bar1 {
  background: #660000;
}

.score2 {
  background: #800000;
  display: inline-block;
}

.promoter_bar2 {
  background: #800000;
}

.score3 {
  background: #bf4040;
  display: inline-block;
}

.promoter_bar3 {
  background: #bf4040;
}

.score4 {
  background: #bd5e00;
  display: inline-block;
}

.promoter_bar4 {
  background: #bd5e00;
}

.score5 {
  background: #ae5400;
  display: inline-block;
}

.promoter_bar5 {
  background: #ae5400;
}

.score6 {
  background: #FF8000;
  display: inline-block;
}

.promoter_bar6 {
  background: #FF8000;
}

.score7 {
  background: #DBA901;
  display: inline-block;
}

.promoter_bar7 {
  background: #DBA901;
}

.score8 {
  background: #086A87;
  display: inline-block;
}

.promoter_bar8 {
  background: #086A87;
}

.score9 {
  background: #0B4C5F;
  display: inline-block;
}

.promoter_bar9 {
  background: #0B4C5F;
}

.promoter_vertical_bar_text {
  text-align: center;
}

.promoter_vertical_bar {
  display: inline-block;
  width: 10%;
  height: 100%;
}

.promoter_bar_table {
  width: 100%;
  height: 100%;
  border: gray;
}

.promoter_bar_container {
  width: 100%;
  height: 140px;
}

.promoter_bar_percentage {
  text-align: center;
  padding-bottom: 3px;
}

.promoter_bar_column {
  align: center;
  align: bottom;
  width: 10%;
  vertical-align: bottom;
  padding-left: 7px;
  padding-right: 7px;
}

.promoter_bar {
  width: 100%;
  position: relative;
}

.report_bottom {
  min-height: 150px;
}

.importance_summary_header {
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.customer_importance_summary {
  border: solid;
  border-width: thin;
  margin: 5px;
  padding: 10px;
}

.customer_importance_bars {
  height: 150px;
}

.importance_summary_description {
  padding: 10px;
}

.importance_bar_container {
  float: left;
  height: 35px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.importance_bar1 {
  position: relative;
  background: #BDB76B;
  color: #fff;
  text-align: right;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  padding-right: 5px;
}

.importance_bar2 {
  position: relative;
  background: #20B2AA;
  color: #fff;
  text-align: right;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  padding-right: 5px;
}

.importance_bar3 {
  position: relative;
  background: #E9967A;
  color: #fff;
  text-align: right;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  padding-right: 5px;
}

.importance_bar4 {
  position: relative;
  background: #FF8C00;
  color: #fff;
  text-align: right;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  padding-right: 5px;
}

.importance_question_name {
  display: inline-block;
  text-align: right;
  width: 20%;
  padding-right: 10px;
}

.importance_filler {
  height: 60px;
  background: #C25C48;
}

.question_details_container {
  border: solid;
  border-width: thin;
  margin: 5px;
  padding: 10px;
}

.importance_details_analysis_container {
  border: solid;
  border-width: thin;
  margin: 5px;
  padding: 10px;

}

.question_importance_header {
  font-weight: 500;
  border-bottom: solid;
  border-width: thin;
  border-top: solid;
  border-width: thin;
  text-align: center;
  font-size: 20px;
}

.importance_detail_label {
  font-size: 12px;
  width: 20%;
}

.chart_line {
  position: relative;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  height: 8px;
}

.tick {
  border-left: 2px solid black;
  height: 6px;
  position: absolute;
}
.tick:nth-child(1) {
  left: 25%;
}
.tick:nth-child(2) {
  left: 50%;
}
.tick:nth-child(3) {
  left: 75%;
}

.report_score_number {
  display: inline-block;
 }

.report_score_numbers {
  width: 100%;
}

.report_score_one {
  text-align: left;
  width: 24.7%;;
}

.report_score_two {
  text-align: left;
  width: 24.7%;
}

.report_score_three {
  text-align: left;
  width: 24.7%;
}

.report_score_four {
  text-align: left;
  width: 15%;
}

.report_score_five {
  text-align: right;
  width: 10.6%;
}

.recomment_score_one {
   text-align: left;
   width: 11.1%
 }

.recomment_score_two {
  text-align: left;
  width: 11.05%
}

.recomment_score_three {
  text-align: left;
  width: 11.05%
}

.recomment_score_four {
  text-align: left;
  width: 11.05%
}

.recomment_score_five {
  text-align: left;
  width: 11.05%
}

.recomment_score_six {
  text-align: left;
  width: 11.05%
}

.recomment_score_seven {
  text-align: left;
  width: 11.05%
}

.recomment_score_eight {
  text-align: left;
  width: 11.05%
}

.recomment_score_nine {
  text-align: left;
  width: 5.0%
}

.recomment_score_ten {
  text-align: right;
  width: 6%
}

.tick_recomment {
  border-left: 2px solid black;
  height: 6px;
  position: absolute;
}
.tick_recomment:nth-child(1) {
  left: 11.15%;
}
.tick_recomment:nth-child(2) {
  left: 22.3%;
}
.tick_recomment:nth-child(3) {
  left: 33.45%;
}

.tick_recomment:nth-child(4) {
  left: 44.6%;
}
.tick_recomment:nth-child(5) {
  left: 55.75%;
}
.tick_recomment:nth-child(6) {
  left: 66.9%;
}

.tick_recomment:nth-child(7) {
  left: 78.05%;
}

.tick_recomment:nth-child(8) {
  left: 89.2%;
}

.report_summary_container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.report_summary {
  font-weight: 500;
  border-bottom: solid;
  border-width: thin;
  border-top: solid;
  border-width: thin;
  text-align: center;
  font-size: 20px;
}
