
.admin {

}

.admin_customers {
  min-height: 50px;
  border: solid
}

.admin_report {
  min-height: 50px;
  border: solid;
  padding: 10px;
}

.customer_edit {
  border: solid;
  border-width: thin;
  margin: 5px;
  padding: 10px;
}

.admin_input {
  /*display: block;*/
}

.input_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.customer_button {
  background-color: #839192;
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
}

.input_file_label {
  background-color: #839192;
  border: none;
  color: black;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  max-width: 20%;
}

.customer_list {
  display: block;
  min-width: 20%;
}

.admin_label {
  padding-right: 5px;
  font-weight: 500;
}

.admin_header {
  font-weight: 700;
}
