<script>
  var app = angular.module('app-root', []);
  app.controller('customerCtrl', function($scope) {
    $scope.name = "Name";
    $scope.message = "Message";
  });
</script>

<div>
  <p>Customers</p>
  <div class="admin_customers" ng-app="app-root" ng-controller="customerCtrl">
    <input type="text" ng-model="name" ng-init="name='John'">
    <p>The name is: {{name}}</p>
    <h3>{{name}}</h3>
   <p>The message is:</p>
   <h3>{{message}}</h3>


 </div>
  <p>Report</p>
 <div class="admin_report">

 </div>
</div>


